---
import Layout from '../layouts/Layout.astro';
import CzechMap from '../components/CzechMap.astro';

---
<Layout title="Přehled obvodů">
  <div class="mb-8 text-center">
    <h1 class="text-5xl font-bold mb-2" style="color: #2a2b66;">Podpoř svého senátora!</h1>
    <h1 class="text-3xl font-bold mb-2" style="color: #2a2b66;">Volby do Senátu 2026</h1>
    <p class="text-gray-500">
      1. kolo: <strong>9. a 10. října</strong> · 2. kolo: <strong>16. a 17. října</strong>
    </p>
  </div>

  <CzechMap />
</Layout>
